{% extends "base.html.twig" %}

{% block title %}Modification Utilisateur{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% for message in app.flashes('danger') %}
            <div class="alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="mt-4">
            Formulaire de modification utilisateur
        </h1>
        {{ form(form) }}
    </div>

{% endblock %}